<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Discover</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>

  <html>
<body>
	<main>
		<h1 class=header1>Discover <%= city %></h1>
		<section class="thumbnail-grid flex">
			<a href="/sandiego/arts" class="flex-item">
				<figure class="i1">
					<figcaption>DIY</figcaption>
				</figure>
			</a>
			<a href="/sandiego/food" class="flex-item">
				<figure class="i2">
					<figcaption>Food</figcaption>
				</figure>
			</a>
			<a href="calendar.html" class="flex-item">
				<figure class="i3">
					<figcaption>Music</figcaption>
				</figure>
			</a>
      <a href="calendar.html" class="flex-item">
				<figure class="i4">
					<figcaption>Hotspots</figcaption>
				</figure>
			</a>
      <a href="/sandiego/nature" class="flex-item">
				<figure class="i5">
					<figcaption>Nature</figcaption>
				</figure>
			</a>
      <a href="calendar.html" class="flex-item">
				<figure class="i6">
					<figcaption>Seasonal Events</figcaption>
				</figure>
			</a>
		</section>
	</main>
</body>
</html>

<!-- This is where we add stuff -->
    <div id = "postsWrapper">
    </div>

    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    >
    </script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
